/* .sticky{
    background-color: #FFFFFF;
    height: 60px;
    width: 2026px;
    position: fixed;
    border-bottom: 1px solid white;
    bottom: 944px;
    display: block;
    z-index: 700;
}

.container{
    height: 120px;
    width: 2026px;
    top: 61px;
    display: block;
    z-index: 30;
}
.navbar{
    height: 120px;
    width: 1045px;
    position: relative;
    float: left;
    display: block;

}
a{
    height: 60px;
    width: 86px;
    padding: 30px 0 30px 0;
    cursor: pointer;

}
span{
    font-family: Sora, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none solid rgb(0, 210, 133);
    text-align: left;
    white-space: nowrap;
    height: 59.7333px;
    width: 45.9px;
    border: 0px solid  #000000;
    padding: 0 20px 0 20px;
    cursor:pointer;
    display: block;
    color: #000000;

}
.btn{
    height: 120px;
    width: 112px;
    position: relative;
    float: right;
    display: block;

}
.logo{
    height: 50px;
    width: 211px;
    max-width: 100%;
    max-height: 100%;
}
.action_btn{
    font-family: Sora;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-decoration: none solid rgb(255, 255, 255);
    background-color:  #00D285;
    background-position: 0% 0%;
    color:  #FFFFFF;
    height: 37.8667px;
    width: 101.55px;
    border: 0px solid  #FFFFFF;
    margin: 0 5px 0 5px;
    padding: 12px 20px 12px 20px;
    position:relative;
    float:left;
    display:block;
    transition: color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, border-color 0.1s ease-in-out 0s;
    outline: rgb(255, 0, 0) dashed 1.06667px;
    box-sizing: border-box;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

} */

/* 
body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
  }
  ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
 
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  } */
  *{
    max-width: 100%;
  }

  .whitebox{
    font-family: sora,Helvetica,Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none solid rgb(98,98,98);
    height: 520.969px;
    width: 2050.95px;
    padding-left: 23px;
    position: relative;
    display: block;
    margin-left: 0;
  }
  .greenbox{
    font-family: sora,Helvetica,Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none solid rgb(98,98,98);
    background-color: #00d285;
  
    float: left;
    display: block;
    max-width: 100%;
    z-index: 1;
    border-radius: 30px;
    height: 522.333px;
    width: 1400px;
    margin-left: 0;
  
  }
  
  .Text6{
    font-family: Poppins,Arial, Helvetica, sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 65px;
    text-decoration: none solid rgb(255,255,255);
    text-align: center;
    height: 129.778px;
    width: 1367.31px;
    margin: 0 0 15px 0;
    display: block;
    color: white;
    margin-top: 2cm;
  }
  
  .Text7{
    font-family: Poppins,Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    height: 51.5556px;
    width: 1367.31px;
    margin: 0 0 15px 0;
    display: block;
  
  }
  
  .col22{
    margin-top: 0.25cm;
    font-family: sora, arial,helvetica,sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none solid rgb(98,98,98);
    width: 406.653px;
    height: 700.667px;
    padding: 0 24px 0 24px;
    position: relative;
    float: left;
    display: block;
    z-index: 28;
  
  }
  
  
  .col22_1{
    margin-left:10cm;
    font-family: Sora, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none solid rgb(98, 98, 98);
    text-align: center;
    background-color:transparent;
    height:200px;
    width: 350.708px;
    padding: 40px 35px 40px 35px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px 0px;
   
    }
  
  .Text8{
    
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none solid rgb(0, 0, 0);
    text-align: center;
    height: 29.3333px;
    width: 280.569px;
    margin: 0 0 15px 0;
    display: block;
  }
  .Text9{
    font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none solid rgb(142, 154, 172);
  text-align: center;
  height: 17.7778px;
  width: 280.569px;
  margin: 0 0 15px 0;
  display:block;
  }
  
  .Text10{
    font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 65px;
  text-decoration: none solid rgb(0, 210, 133);
  text-align: center;
  color:#00D285;
  height: 64.8889px;
  width: 280.569px;
  margin: 0 0 15px 0;
  display:block;
  }
  
  .Text11{
    font-family: Sora, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none solid rgb(142, 154, 172);
  text-align: center;
  height: 74.6667px;
  width: 280.569px;
  margin: 0 0 15px 0;
  display: block;
  }
  .Text12{
    font-family: Sora, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none solid rgb(39, 42, 46);
  text-align: left;
  height: 114.667px;
  width: 280.569px;
  margin: 0 0 15px 0;
  list-style-position: outside;
  display:block;
  }
  .greentext{
    font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none solid rgb(0, 210, 133);
  text-align: center;
  height: 17.7778px;
  width: 280.569px;
  margin: 0 0 15px 0;
  display: block;
  }
  
  .img_wrap{
    font-family: sora,Arial,Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none solid rgb(98,98,98);
    text-align: center;
    height: 96px;
    width:280.259px;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .imgx{
    font-family: sora,Arial,Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none solid rgb(98,98,98);
    text-align: center;
    height: 96px;
    width:96px;
    max-width: 100.1%;
    position: relative;
    display: inline;
    transform: matrix(1,0,0,1,0,0);
  }
  
  .btn4{
    font-family: Sora;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    height: 41.5556px;
    width: 149.917px;
    border: 0px solid  #FFFFFF;
    margin: 0 10px 15px 0;
    padding: 15px 40px 15px 40px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display:inline-block;
    background-color: #00d285;
    border: none;
    border-radius: 24px;
    color: #FFFFFF;
    margin-left: 1cm;
  }
  .btn4:hover{
    background-color: #039A63;
  }
  .xxx{
    margin-top: 4cm;
    margin-left: 2cm;
    width: 350.703px;
    height: 736px;

  
  }
  .col22 {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.col22_1{

  width: 350.703px;
  height: 600px;
  padding-bottom: -1;
}
.col22 .col22_1 {
    position: relative;

    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* padding-bottom:-50; */
    opacity: 0.7;
  
}

.col22 .col22_1 .xxx {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
}

.col22 .col22_1:hover .xxx {
    transform: translateY(0);
    opacity: 1;
}

.col22 .col22_1:hover .xxx {
position: absolute;
top: -90px;
right: 30px;
font-size: 8em;
color: rgba(255,255,255,0.05);
pointer-events: none;

}

.col22 .col22_1:hover .xxx {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.col22 .col22_1:hover .xxx {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.col22 .col22_1:hover .xxx {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    /* margin-top: 15px; */
    background: #fff;
    color: #000;
    width: 406.653px;
    height: 700px;
    text-decoration: none;
    font-weight: 500;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.5); */
}

.col22_1:hover{
  opacity: 1;
}